
body{
            background-color: aqua;
            font-family: arial;
        }
       p#catogry{
            display: inline-block;
            margin-top: -50px;
            margin-bottom: 50px;
            padding: 8px 20px;
            background-color: black;
            color: white;       
            font-weight: bold;
            font-size: 18px;
           
        }
      
        .content{
            background-color: white ;
            margin: 60px 10% 80px 10%;
            
            padding: 0px 20 px 20 px 20px;
        
            min-width: 350px;
            box-shadow: 0px 0px 8px 8px rgb(0, 0 ,0, 0.1);
        
           
        }
        h1{
            margin: 0px;
            text-align: center;
        }
        p#discrption{
            text-align: center;
            margin-top: 5px;
            
            font-size: 14px;
            display: inline-block;  
            max-width: 40%;
        }
        div.center{
            text-align: center;
            
           
        }
        img.center{
             width:100%;
             height: 500px
        }
        
          div.catogry{
            margin-bottom: -32px;
           
            
        }
        div.sperator{
            margin: 10px;
            height: 1px;
            width: 100px;
            background-color: #000000;
            margin-left: auto;
            margin-right: auto;
        }
        div.info{
            background-color: blue;
            position: relative;
            width: 100%;
        }
        table.info{
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: #6C8290c0;
            height: 80px;
            color: white;

        }
        table.info td{
            text-align: center;
            vertical-align: top;
        }
        table.info td{
            text-align: center;
            vertical-align: top;
        }
img.info{
    object-fit: cover;
    display: block;
    max-height: 400px;
    
}
div.col{
    width: 45%;
}
div.col h2{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid palegreen;
}
div.col1{
    margin-right: 10%;
  
    display: inline-block;
}
div.col2{
    float: right;
}
div.Ingredients p{
    padding:10px 0;
    text-align: center;
    font-size: 14px;
    border: 1px solid lightgray;
    margin-top: 4px ;
    margin-bottom: 0px;
}
table.instructions p.number{
    background-color: lightgray;
    width: 25px; 
    height: 25px; 
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    box-sizing: border-box;
    border-radius:50%;
    margin: 0px;

}
table.instructions td.instructions_step {
    padding-left: 10px;
    font-size: 14px;
    padding-bottom: 10px;
}
table.instructions td{
    vertical-align: top;
}
table.instructions tr{
    height: 40px;
}
